*{
    margin: 0;
    padding: 0;

}

.section0{
    width: 100%;
    height: 400px;
  
}
.div1{
    width: 30%;
        height: 300px;
        
        position: relative;
        float: left;
        left: 1%;
        text-align: center;
        margin-top: 3%;
        
    
    }



    .div1 a{
        background-color: #ffffff;
        color: #794400;
        text-decoration: none;
        font-size: 30px;
        font-weight: bold;
    }
    .div2 a{
        background-color: #ffffff;
        color: #794400;
        text-decoration: none;
        font-size: 30px;
        font-weight: bold;
    }
    .div3 a{
        background-color: #ffffff;
        color: #794400;
        text-decoration: none;
        font-size: 30px;
        font-weight: bold;
    }
    .div4 a{
        background-color: #ffffff;
        color: #794400;
        text-decoration: none;
        font-size: 30px;
        font-weight: bold;
    }
    .div5 a{
        background-color: #ffffff;
        color: #794400;
        text-decoration: none;
        font-size: 30px;
        font-weight: bold;
    }
    .div6 a{
        background-color: #ffffff;
        color: #794400;
        text-decoration: none;
        font-size: 40px;
        font-weight: bold;
    }
    .div7 a{
        background-color: #ffffff;
        color: #794400;
        text-decoration: none;
        font-size: 30px;
        font-weight: bold;
    }
    .div8 a{
        background-color: #ffffff;
        color: #794400;
        text-decoration: none;
        font-size: 30px;
        font-weight: bold;
    }
    .div9 a{
        background-color: #ffffff;
        color: #794400;
        text-decoration: none;
        font-size: 30px;
        font-weight: bold;
    }
    .div10 a{
        background-color: #ffffff;
        color: #794400;
        text-decoration: none;
        font-size: 30px;
        font-weight: bold;
    }
    

.div1 img{
    width: 85%;
    height: 300px;
    border-radius: 20px;
    transition: all 0.4s ease-in-out;
}
.div1 img:hover{
    width: 100%;
    height: 320px;
    opacity: 0.7;
}

.div2 img{
    width: 85%;
    height: 300px;
    border-radius: 20px;
    transition: all 0.4s ease-in-out;
}
.div2 img:hover{
    width: 100%;
    height: 320px;
    opacity: 0.7;
}

.div3 img{
    width: 85%;
    height: 300px;
    border-radius: 20px;
    transition: all 0.4s ease-in-out;
}
.div3 img:hover{
    width: 100%;
    height: 320px;
    opacity: 0.7;
}



.div4 img{
    width: 85%;
    height: 300px;
    border-radius: 20px;
    transition: all 0.4s ease-in-out;
}
.div4 img:hover{
    width: 100%;
    height: 320px;
    opacity: 0.7;
}

.div5 img{
    width: 85%;
    height: 300px;
    border-radius: 20px;
    transition: all 0.4s ease-in-out;
}
.div5 img:hover{
    width: 100%;
    height: 320px;
    opacity: 0.7;
}

.div6 img{
    width: 85%;
    height: 300px;
    border-radius: 20px;
    transition: all 0.4s ease-in-out;
}
.div6 img:hover{
    width: 100%;
    height: 320px;
    opacity: 0.7;
}

.div7 img{
    width: 85%;
    height: 300px;
    border-radius: 20px;
    transition: all 0.4s ease-in-out;
}
.div7 img:hover{
    width: 100%;
    height: 320px;
    opacity: 0.7;
}


.div8 img{
    width: 85%;
    height: 300px;
    border-radius: 20px;
    transition: all 0.4s ease-in-out;
}
.div8 img:hover{
    width: 100%;
    height: 320px;
    opacity: 0.7;
}


.div9 img{
    width: 85%;
    height: 300px;
    border-radius: 20px;
    transition: all 0.4s ease-in-out;
}
.div9 img:hover{
    width: 100%;
    height: 320px;
    opacity: 0.7;
}

.div10 img{
    width: 85%;
    height: 300px;
    border-radius: 20px;
    transition: all 0.4s ease-in-out;
}
.div10 img:hover{
    width: 100%;
    height: 320px;
    opacity: 0.7;
}

h1
{
    color: antiquewhite;
}


.df{
    width: 100%;
    height: 350px;
    background-color: transparent;
    position: relative;
    top: 20%;
}

.div2{
    width:30%;
    height:300px;

    position: relative;
    float: left;
    left: 5%;
    text-align: center;
    margin-top: 3%;
    
}
.div3{
    width:30%;
    height:300px;
    
    position: relative;
    float: left;
    left: 9%;
    text-align: center;
    margin-top: 3%;
}
.section1{
    margin-top: 3%;
    width: 100%;
    height: 400px;
  
}
.div4{
    width: 45%;
    height: 300px;
    
    position: relative;
    float: left;
    left: 1%;
    text-align: center;
    margin-top: 3%;

}
.div5{
    width:45%;
    height:300px;
    
    position: relative;
    float: left;
    left: 7%;
    text-align: center;
    margin-top: 3%;
    
}
.section2{
    margin-top: 3%;
    width: 100%;
    height: 450px;
  
}
.div6{
    width: 70%;
    height: 300px;
    
    position: relative;
    float: left;
     left:15%;
    text-align: center;
    margin-top: 4%;

}
.section3{
    margin-top: 3%;
    width: 100%;
    height: 400px;
  
}
.div7{
    width: 45%;
    height: 300px;

    position: relative;
    float: left;
    left: 2%;
    text-align: center;
    margin-top: 3%;
    
    
}
.div8{
    width: 45%;
    height: 300px;
    
    position: relative;
    float: left;
    left: 8%;
    text-align: center;
    margin-top: 3%;
}
.section4{
    margin-top:3%;
    width: 100%;
    height: 400px;
  
}

.div9{
    width: 45%;
    height: 300px;
    
    position: relative;
    float: left;
    left: 2%;
    text-align: center;
    margin-top: 3%;
}

.div10{
    width: 45%;
    height: 300px;
    
    position: relative;
    float: left;
    left: 8%;
    text-align: center;
    margin-top: 3%;
}
.lc
{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    background-color: #794400;
    color: aliceblue;
    align-items: center;
}



*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}  body::-webkit-scrollbar{
    width: 8px;
    background-color: transparent;
  }
  body::-webkit-scrollbar-thumb{
    background-color: #794400;
    width: 8px;
    height: 60px;
    border-radius: 30px;

  }